
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="bg-info p-2 row">
    <div class="col">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-2">
        <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Log Out</a>
    </div>
</div>
