@using AravindReddy_K_301101869.Models.ViewModels
@model LoginModel


@{ ViewBag.Title = "Log In"; }


<div class="container m-2 mx-auto">
    <div class="border-bottom-2 border-dark">
        <h2 class="text-lg-center">Login</h2>
    </div>

    <div class="container mt-2 w-50">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form asp-action="Login" asp-controller="Account" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input asp-for="Name" class="form-control" placeholder="ex. Admin"/>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            
            <div class="d-flex justify-content-around">
                <button class="btn px-5 btn-primary" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>