
@{
    ViewData["Title"] = "Add_Club";
}

<h2>Add_Club</h2>
<!DOCTYPE html>
@model AravindReddy_K_301101869.Models.Club;
<html>
<head>

    <link href="~/css/Style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>AddPlayer</title>
</head>
<body>
    <div>
        
      @{Html.RenderPartial("~/Views/Shared/partialPlayerView.cshtml");}
    </div>

</body>
</html>
