@model AravindReddy_K_301101869.Models.Club;

@{
    ViewData["Title"] = "Add Player";
}

<div class="container m-2 mx-auto">
    <div class=" border-bottom-2 border-dark">
        <h2>Add Player</h2>
    </div>
    
    @{
        Html.RenderPartial("~/Views/Shared/partialPlayerView.cshtml");
    }
</div>
