@model AravindReddy_K_301101869.Models.Club;

@{
    ViewData["Title"] = "Add Club";
}

<div class="container m-2 mx-auto">
    <div class=" border-bottom-2 border-dark">
        <h2>Add Club</h2>
    </div>

    @{
        Html.RenderPartial("~/Views/Shared/partialView.cshtml");
    }
</div>
