@using AravindReddy_K_301101869.Models

@model IEnumerable<Club>

@{
    ViewData["Title"] = "Clubs";
}


<div class="container m-2 mx-auto">
    <div class="d-flex m-2 justify-content-between align-items-center">
        <div>
            <h2>Clubs listed with us</h2>
        </div>
        <div>
            <a class="btn btn-info" asp-controller="Clubs" asp-action="AddClub">Add a club</a>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between mx-4">
        @foreach (Club c in Model)
        {
            <div class="card m-2 mb-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title border-bottom"><a asp-action="ClubDetails" asp-route-clubName="@c.clubName">@c.clubName</a></h5>
                    <p class="card-text text-muted">@c.description</p>

                    @*<a class="btn btn-primary text-white" asp-controller="Clubs" asp-action="Details" asp-route-id="@c.Id">View details</a>*@
                </div>
            </div>
        }
    </div>
</div>
