@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mx-0 px-0">
    <div style="
            height: 500px;
            width: 100vw;
            background-image: url(https://images.unsplash.com/photo-1540753003857-32db1552eead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3580&q=80);
            background-size: cover;">
    </div>
    @*Photo by Arseny Togulev on Unsplash*@

    <div class="container d-flex mx-auto">
        <div class="p-4">
            <h1 class="display-4 my-2">What is Soccer?</h1>
            <p>
                Association football, more commonly known as football or soccer, is a team sport played with a spherical ball between two teams of 11 players.
                It is played by approximately 250 million players in over 200 countries and dependencies, making it the world's most popular sport.
            </p>
        </div>

        <div class="p-4">
            @*Definition reference: Wikipedia*@
            <h1 class="display-4 my-2">What we do?</h1>
            <p>
                We at Soccer Club, manage Soccer Clubs and players. We have partenered with world's leading soccer clubs to manage players information with us.
                We organize Soccer Leagues and contribute in strenthening the sporting spirit around the globe.
            </p>
        </div>
    </div>
</div>
