@model AravindReddy_K_301101869.Models.Player;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <title>Manage players</title>
</head>
<body>
    <div>

        <form method="post" asp-controller="Players" asp-action="AddPlayer">
            <table>

                <tr>

                    <td><label asp-for="Name">Player Name</label></td>
                    <td><input asp-for="Name" type="text" /></td>


                </tr>
                <tr>

                    <td> <label asp-for="Club">Club Name</label></td>
                    <td>   <input asp-for="Club" type="text" /></td>


                </tr>
                <tr>

                    <td> <label asp-for="JersyNumber">Jersey Number</label></td>
                    <td>  <input asp-for="JersyNumber" type="number" /></td>


                </tr>
                <tr>

                    <td> <label asp-for="Rank">Rank</label></td>
                    <td><input asp-for="Rank" type="number" /></td>


                </tr>
                <tr>

                    <td> <label asp-for="totalGoals">Total Points</label></td>
                    <td>  <input asp-for="totalGoals" type="number" /></td>


                </tr>
              
                <tr>

                    <td> <button type="submit">Save</button></td>
                    <td> <button asp-controller="Home" asp-action="Index" type="submit">Cancel</button></td>


                </tr>

            </table>
        </form>


    </div>
</body>
</html>

