@model AravindReddy_K_301101869.Models.Player;

<div class="container m-2 mx-auto">
    <form asp-controller="Players" asp-action="AddPlayer" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="JersyNumber">Jersey Number</label>
            <input asp-for="JersyNumber" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Rank">Rank</label>
            <input asp-for="Rank" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="totalGoals">Total Goals</label>
            <input asp-for="totalGoals" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Club">Club Name</label>
            <input asp-for="Club" class="form-control" />
        </div>

        @*<div class="form-group">
            <label asp-for="ClubId">Club</label>
            <select asp-for="ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
        </div>*@

        <div class="form-group">
            <button class="btn btn-success" type="submit" value="Create">Add Player</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
